*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    color: white;
}
body{
    background-color: hsl(217, 54%, 11%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
:root{
    --color:hsl(215, 51%, 70%);
}
main{
    width: 24rem;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.3rem 1.2rem;
    margin: 1rem;
}
.container{
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: hsl(216, 50%, 16%);
}
.image img{
    width: 100%;
    border-radius: 1rem;
}
h1{
    font-size: 1.5rem;
}
.info{
    margin-top: 1rem;
}
.description{
    margin: 1rem 0;
    line-height: 1.5rem;
    color:var(--color);
}
.days{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
hr{
    margin:1.2rem 0;
    background-color: hsl(215, 32%, 27%);
    height: 2px;
    border: none;
}
.footer{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.footer img{
    width: 3rem;
    border: 2px solid white;
    border-radius: 100%;
}
.footer-p span{
    color: hsl(215, 51%, 70%);
}
.etherium{
    color: aqua;
}
.time-left{
    color: var(--color);
}

@media screen and (max-width:700px) {
    body{
        background-color: black;
    }
}